{% extends 'base.html.twig' %}
{% block body %}
    <div id="react-login"
            {% if error %}
                data-error="{{ error.messageKey|trans(error.messageData, 'security') }}"
            {% endif %}
         data-csrf-token="{{ csrf_token('authenticate') }}"
         data-last-username="{{ last_username }}"
         data-target-path="/backend"
         data-action-path="{{ path('login') }}"
         data-action-method="POST">
    </div>
{% endblock %}

