.main-header .navbar
{
    background: blueviolet;
}

.btn-primary:active:hover
{
    background: cornflowerblue;
}

.action-search .form-control
{
    border: 1px solid gainsboro;
    height: 33px;
    border-radius: 5px;
    padding: 5px
}

.btn-success
{
    background-color: limegreen;
}
.btn-danger
{
    background-color: crimson;
}

